@model List<RowModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table table-bordered">
        @foreach (RowModel groupLetter in Model)
        {
            <tr>
                @foreach(var letter in groupLetter.Letters)
                {
                    @if (letter.isDifferentColor)
                    {
                        <td style="color:red">@letter.Character
                        </td>
                    }
                    else{
                        <td>@letter.Character
                        </td>
                    }
                    
                }
            </tr>
        }
    </table>
    <ul>
        
    </ul>
</div>
